<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.ict.ex.mapper.EmpMapper">

	<select id="getList" resultType="edu.ict.ex.vo.EmpVO">
		<![CDATA[
			select * from emp
		]]>
	</select>
	
	<insert id="insert">
    	<![CDATA[
    		INSERT INTO EMP VALUES (#{empno},#{ename},#{job},#{mgr},#{hiredate2},#{sal},#{comm},#{deptno})
    	]]>
	</insert>
	
	<select id="getTotalCount" resultType="int">
    	<![CDATA[
        	select count(*) from emp
        ]]>
    </select>
    
    <select id="getListWithPaging" resultType="EmpVO">
    	<![CDATA[
        SELECT * FROM (
		     	SELECT ROWNUM AS RNUM, A.* FROM (
		                    SELECT *  FROM emp order by empno
		   	 	) A WHERE ROWNUM <= #{pageNum} * #{amount}
			) WHERE RNUM > (#{pageNum}-1) * #{amount}
        ]]>
    </select>
    
</mapper>