<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.ict.ex.mapper.EmpMapper">

	<select id="getList" resultType="edu.ict.ex.vo.EmpVO">
		<![CDATA[
			select * from emp
		]]>
	</select>
	
	<insert id="insert">
    	<![CDATA[
    		INSERT INTO EMP VALUES (#{empno},#{ename},#{job},#{mgr},#{hiredate2},#{sal},#{comm},#{deptno})
    	]]>
	</insert>
	
	<select id="getTotalCount" resultType="int">
    	<![CDATA[
        	select count(*) from emp
        ]]>
    </select>
    
    <select id="getListWithPaging" resultType="EmpVO">
    	<![CDATA[
        SELECT * FROM (
		     	SELECT ROWNUM AS RNUM, A.* FROM (
		                    SELECT *  FROM emp order by empno
		   	 	) A WHERE ROWNUM <= #{pageNum} * #{amount}
			) WHERE RNUM > (#{pageNum}-1) * #{amount}
        ]]>
    </select>
    
    <select id="getEmpDeptList" resultType="edu.ict.ex.vo.EmpVO">
		<![CDATA[
			select * from emp, dept where dept.deptno = emp.deptno order by empno
		]]>
	</select>
	
	<!-- resultMap : 자바 객체와 DB테이블을 매핑시키는 것 -->
	<resultMap id="deptMap" type="DeptEmpVO">
		<result property="deptno" column="deptno"/>
		<result property="dname" column="dname"/>
		<result property="loc" column="loc"/>
		<!-- 일대다 일 경우 -->
		<collection property="empList" resultMap="empMap" ></collection>
	</resultMap>
	
	<resultMap id="empMap" type="EmpVO">
		<result property="empno" column="empno"/>
		<result property="ename" column="ename"/>
		<result property="job" column="job"/>
		<result property="mgr" column="mgr"/>
		<result property="hiredate" column="hiredate"/>
		<result property="sal" column="sal"/>
		<result property="comm" column="comm"/>
		<result property="deptno" column="deptno"/>
	</resultMap>
	
	<!--  절대 resultType 으로 하지 말것 -->
	<select id="getDeptEmpList" resultMap="deptMap">
		<![CDATA[
			select * from emp, dept where dept.deptno = emp.deptno order by empno
		]]>
	</select>
    
    <!-- resultMap : 자바 객체와 DB테이블을 매핑시키는 것 -->
	<resultMap id="salEmpMap" type="SalgradeEmpVO">
		<result property="grade" column="grade"/>
		<result property="losal" column="losal"/>
		<result property="hisal" column="hisal"/>
		<!-- 일대다 일 경우 -->
		<collection property="empList" resultMap="empMap" ></collection>
	</resultMap>
	
	<!--  절대 resultType 으로 하지 말것 -->
	<select id="getSalgradeEmpList" resultMap="salEmpMap">
		<![CDATA[
			select ename,sal,grade from emp, salgrade where sal between losal and hisal order by sal desc
		]]>
	</select>
	
	    <!-- resultMap : 자바 객체와 DB테이블을 매핑시키는 것 -->
	<resultMap id="deptEmpSalMap" type="DeptEmpSalVO">
		<result property="deptno" column="deptno"/>
		<result property="dname" column="dname"/>
		<result property="loc" column="loc"/>
		<!-- 일대다 일 경우 -->
		<collection property="empList" resultMap="empMap" ></collection>
		<collection property="salList" resultMap="salMap" ></collection>
	</resultMap>
	
	<resultMap id="salMap" type="SalgradeVO">
		<result property="grade" column="grade"/>
		<result property="losal" column="losal"/>
		<result property="hisal" column="hisal"/>
	</resultMap>
	
	<!--  절대 resultType 으로 하지 말것 -->
	<select id="getDeptEmpSalList" resultMap="deptEmpSalMap">
		<![CDATA[
			select * from emp, dept, salgrade where dept.deptno = emp.deptno and (sal between losal and hisal) order by grade
		]]>
	</select>
    
    
</mapper>